@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto' sans-serif;
	background: url(signup.jpg)no-repeat center center fixed;
	background-size: cover;
}

.main-section{
	margin: 0 auto;
	margin-top: 40%;
	padding: 0;
}

.modal-content{
	background-color: rgb(131,108,76);
	opacity: .80;
	padding: 0 18px;
	box-shadow: 0px 0px 3px #848484
}

.user-img{
	margin-top: -50px;
	margin-bottom: 30px;
}

.user-img img{
	height: 100px;
	width: 100px;
	border-radius: 50px;
	box-shadow: 0px 0px 3px #848484
}

.form-group{
	margin-bottom: 25px;
	position: relative;
}

.form-group input {
	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
}

button {
	width: 40%;
	margin: 5px 0px 25px;
}

.btn {
	background-color: rgb(157,99,98);
	font-size: 19px;
	color: #ffff;
	padding: 7px 14px;
	border-radius: 5px;
	border-bottom: 4px solid rgb(157,99,98);
}

.btn:hover, .btn:focus {
	background-color: rgb(93,126,45);
	border-bottom: 4px solid rgb(93,126,45);
}

.svg-inline--fa {
	font-size: 20px;
	margin-right: 5px;
}
